.about{
    margin-top: 50px;
    background: white;

}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;

}
.about h2{
    font-weight: 600;
}
.about p{
    font-weight: 500;
}
.about p{
    font-size: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border-radius: 5px;
    background-color: #ffa500;
    letter-spacing: 2px;
    font-weight: 0.5 ease;
    cursor: pointer;
}

#about-btn:hover{
    width: 220px;
}